<div class="toolbar tabbar-icons toolbar-bottom">
    <div class="toolbar-inner">
      <a href="/wealth.html" class="tab-link tab-link-active">
        <!-- iOS Icon -->
        <i class="icon f7-icons if-not-md">money_dollar_circle_fill</i>
        <!-- Material Design Icon -->
        <i class="icon material-icons md-only">attach_money</i>
        <span class="tabbar-label">Vermögen</span>
      </a>
      <a href="/provisions.html" class="tab-link">
        <!-- iOS Icon -->
        <i class="icon f7-icons if-not-md">money_euro_circle_fill</i>
        <!-- Material Design Icon -->
        <i class="icon material-icons md-only">euro</i>
        <span class="tabbar-label">Rückstellungen</span>
      </a>
      <a href="/assets.html" class="tab-link">
        <!-- iOS Icon -->
        <i class="icon f7-icons if-not-md">chart_bar</i>
        <!-- Material Design Icon -->
        <i class="icon material-icons md-only">bar_chart</i>
        <span class="tabbar-label">Anlagen</span>
      </a>
      <a href="/retirement.html" class="tab-link">
        <!-- iOS Icon -->
        <i class="icon f7-icons if-not-md">building_2_fill</i>
        <!-- Material Design Icon -->
        <i class="icon material-icons md-only">business</i>
        <span class="tabbar-label">Vorsorge</span>
      </a>
    </div>
  </div>